<div class="container mt-4">
    <h3>Thêm sản phẩm</h3>

    <form class="mt-4 form form-create-product">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name", name="name">
        </div>
        <div class="form-group">
            <label for="price">Giá</label>
            <input type="text" class="form-control" id="price", name="price">
        </div>



        <div class="form-group">
            <label for="manufacturer">Nhà sản xuất</label>
            <input type="text" class="form-control" id="manufacturer", name="manufacturer">
        </div>

        <div class="form-group">
            <label for="stock">Số lượng</label>
            <input type="text" class="form-control" id="stock", name="stock">
        </div>

        <div class="form-group">
            <label for="suspended">Tình trạng</label>
            <select class="form-select" aria-label="Default select example" id="suspended", name="suspended">
                <option selected>Open this select menu</option>
                <option value="true">Còn hàng</option>
                <option value="false">Hết hàng</option>
            </select>
        </div>

        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description", name="description">
        </div>
        
        <button type="submit" class="btn btn-primary mt-4 btn-submit-create-prod">Thêm khóa học</button>
    </form>

    <div class="mt-4">
    </div>
</div>

<script src="/js/product/update-product.js">
</script>