<div class="container mt-4">
    <h3>Thêm Món ăn</h3>

    <form class="mt-4 form form-create-product">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name", name="name">
        </div>
        <div class="form-group">
            <label for="price">Giá</label>
            <input type="text" class="form-control" id="price", name="price">
        </div>

        <div class="form-group mt-4">
            <a class="btn-text"><label for="food-photo-input-thumbnail">Thêm ảnh đại diện cho món ăn</label></a>
            <input type="file" accept="image/*" id="food-photo-input-thumbnail" name="food-photo-input-thumbnail" hidden>
            <div id="output-imgs-thumbnail">

            </div>
        </div>

        <div class="form-group mt-4">
            <a class="btn-text"><label for="food-photo-input-detail">Thêm ảnh chi tiết món ăn (tối đa 3 ảnh)</label></a>
            <input type="file" multiple="multiple" accept="image/*" id="food-photo-input-detail" name="food-photo-input-detail" hidden>
            <div id="output-imgs-detail">

            </div>
        </div>

        <div class="form-group mt-4">
            <a><label for="manufacturer">Nhà sản xuất</label></a>
            <input type="text" class="form-control" id="manufacturer", name="manufacturer">
        </div>

        <div class="form-group">
            <label for="stock">Số lượng</label>
            <input type="text" class="form-control" id="stock", name="stock">
        </div>

        <div class="form-group">
            <label for="suspended">Tình trạng</label>
            <select class="form-select" aria-label="Default select example" id="suspended", name="suspended">
                <option value="true" selected>Còn hàng</option>
                <option value="false">Hết hàng</option>
            </select>
        </div>

        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description", name="description">
        </div>
        
        <button type="submit" class="btn btn-primary mt-4 btn-submit-create-prod">Thêm món ăn</button>
    </form>

    <div class="mt-4">
    </div>
</div>

<script src="/js/product/update-product.js">
</script>