<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>An Error Has Occured</title>
</head>

<body>
  <div class="container d-flex flex-column align-items-center py-5 my-5">
    <div class="error-page-img-wrapper">
      <img src="/images/icons/error-page.png" alt="error-image" />
    </div>
    <h3 class="text-danger">
      {{status}}
    </h3>
    <h5>{{message}}</h5>

  </div>
</body>

</html>